{% extends 'base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
    <table class="table table-success table-striped mt-5">
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Единицы измерения</th>
            <th>Производитель</th>
            <th>Изображение</th>
            <th>Категория товара</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ object.name }}</td>
                <td>{{ object.price }}</td>
                <td>{{ object.unit_of_measure }}</td>
                <td>{{ object.producer }}</td>
                <td><img src="{{ object.image|media_folder_product }}" alt="{{ object.image }}"></td>
{#            <img class="other-img" src="{% static 'img/product_page/assasin-3.jpg' %}" alt="img3">#}
                <td>
                    {% for catalog in object.catalogs.all %}
                        {{ catalog.name }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <button class="float-end">Добавить товар</button>
{% endblock %}