{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table class="table table-success table-striped mt-5">
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Единицы измерения</th>
            <th>Производитель</th>
            <th>Изображение</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ object.name }}</td>
                <td>{{ object.price }}</td>
                <td>{{ object.unit_of_measure }}</td>
                <td>{{ object.producer }}</td>
                <td>{{ object.image }}</td>
            </tr>
        {% endfor %}
    </table>
    <button class="float-end">Добавить товар</button>
{% endblock %}